@font-face{
    
    font-family: Arial;
   
}
body
{
	background-image: url("universe.jpg");
	background-attachment: fixed;
}
h1
{
	color: white;
    text-align: center;
}
p
{
    color: white;
    font-family: Arial;
    
}
.planete
{
    width:300px;
    
    float: left;
}

    float: left;
}
